<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>You&#39;ve Got Issues</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">You&#39;ve Got Issues</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

      </ul>
    </div>
  </nav>

  <nav id="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" v-for="crumb in breadcrumb" v-if="!crumb.active" :key="crumb.text"><a
          v-bind:href="crumb.link">{{crumb.text}}</a></li>
      <li class="breadcrumb-item active" aria-current="page" v-for="crumb in breadcrumb" v-if="crumb.active"
        :key="crumb.text">{{crumb.text}}</li>
    </ol>
  </nav>

  <div id="issues-detail" class="container-fluid">

    <div>

      <div class="card" style="max-width: 48rem;">

        


        <div class="card-body">

          <h4 class="card-title">{{String(issue.itemNo)}} - {{issue.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <span>Raised By: {{issue.raisedBy}} on the </span>
              <time v-bind:datetime="issue.raised">{{issue.raised | formatDate}}</time>
            </h6>
          <hr />
          <p>{{issue.description}}</p>
          <br/>
          <br/>

          <dl class="row">
            <dt class="col-lg-3">Area</dt>
            <dd class="col-lg-9">{{issue.area}}</dd>
            <dt class="col-lg-3">Equipment</dt>
            <dd class="col-lg-9">{{issue.equipment}}</dd>
            <dt class="col-lg-3">Issue Type</dt>
            <dd class="col-lg-9">{{issue.issueType}}</dd>
            <dt class="col-lg-3">Last Changed</dt>
            <dd class="col-lg-9">{{issue.lastChanged | formatDate}}</dd>
            <dt class="col-lg-3">Status</dt>
            <dd class="col-lg-9">{{issue.status}}</dd>
          </dl>

        </div>

      </div>

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11" crossorigin="anonymous"></script> -->
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/moment" crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://kit.fontawesome.com/e2b4ceabac.js"
    crossorigin="anonymous"></script>
  <script type="application/javascript" src="../assets/js/issue.js" crossorigin="anonymous"></script>
</body>

</html>