<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>You&#39;ve Got Issues</title>
  <style>
    [v-cloak] {
      display: none;
    }

    input[type="file"] {
      /* position: absolute; */
      display: none;
      top: -500px;
    }

    div.file-listing {
      width: 200px;
    }

    span.remove-file {
      color: red;
      cursor: pointer;
      float: right;
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
    }

  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">You&#39;ve Got Issues</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

      </ul>
    </div>
  </nav>

  <nav id="breadcrumb" aria-label="breadcrumb">
    <ol v-cloak class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" v-for="crumb in breadcrumb" v-if="!crumb.active" :key="crumb.text"><a
          v-bind:href="crumb.link">{{crumb.text}}</a></li>
      <li class="breadcrumb-item active" aria-current="page" v-for="crumb in breadcrumb" v-if="crumb.active"
        :key="crumb.text">{{crumb.text}}</li>
    </ol>
  </nav>

  <div id="issues-detail" class="container-fluid">

    <div>

      <div v-show="loading" style="text-align: center; font-size: 0.5rem; color: #e9ecef;">
        <i class="fas fa-spinner fa-pulse fa-10x mr-3"></i>
      </div>

      <div v-cloak v-show="!loading" class="card mx-auto" style="max-width: 48rem; margin-bottom: 15px;">

        <div v-show="!isEditing" class="card-body">
          <h4 class="card-title">{{issue.title}}</h4>
          <button type="button" data-toggle="modal" data-target="#new-project-modal"
            style="float: right; border: none; cursor: pointer; font-size: 16px; background-color: white;"
            v-on:click="isEditing = true">
            <i class="far fa-edit"></i>
          </button>

          <small class="text-muted">
            <span>Raised By: {{issue.raisedBy}} on the </span>
            <time v-bind:datetime="issue.raised">{{issue.raised | formatDate}}</time>
          </small>

          <hr />
          <p>{{issue.description}}</p>

          <dl class="row">
            <dt class="col-lg-3">Area</dt>
            <dd class="col-lg-9">{{issue.area}}</dd>
            <dt class="col-lg-3">Equipment</dt>
            <dd class="col-lg-9">{{issue.equipment}}</dd>
            <dt class="col-lg-3">Issue Type</dt>
            <dd class="col-lg-9">{{issue.issueType}}</dd>
            <dt class="col-lg-3">Last Changed</dt>
            <dd class="col-lg-9">{{issue.lastChanged | formatDate}}</dd>
            <dt class="col-lg-3">Status</dt>
            <dd class="col-lg-9">{{issue.status}}</dd>
            <dt class="col-lg-3">Attachments</dt>
            <dd class="col-lg-9">
              
              <ul v-show="issue.attachments.length > 0">
                <li v-for="att in issue.attachments"> <a v-bind:href="att.relativeUrl | removeProject">{{att.filename}}</a> </li>
              </ul>

              <div v-show="uploadProgressVisible" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  v-bind:aria-valuenow="uploadProgress" aria-valuemin="0" aria-valuemax="100"
                  v-bind:style="{ width: widthPercentage }">
                </div>
              </div>

              <button type="button" class="btn btn-default btn-sm pull-right" v-on:click="addFiles()" style="margin-top: 1 em;">
                <i class="fas fa-paperclip"></i><span class="hidden-xs"> Attach Files</span>
              </button>

              <input type="file" id="files" ref="files" multiple v-on:change="uploadFiles()" />
            </dd>
          </dl>
        </div>

        <div v-show="isEditing" class="card-body">

          <form role="form" method="post" @submit.prevent="updateIssue($data)">

            <div class="form-group">
              <label for="title">Title</label>
              <input id="title" name="Title" v-model="issueUpdate.title" class="form-control" type="text" required />
            </div>

            <input type="hidden" id="itemNo" name="ItemNo" v-model="issueUpdate.title">
            <input type="hidden" id="vid" name="Vid" v-model="issueUpdate.vid">

            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" name="Description" v-model="issueUpdate.description" class="form-control"
                rows="5" maxlength="500" required></textarea>
            </div>

            <div class="form-group">
              <label for="area">Area</label>
              <input id="area" name="Area" v-model="issueUpdate.area" class="form-control" list="area-lst" type="text"
                required>
              <datalist id="area-lst">
                <option v-for="area in areaList">
                  {{ area }}
                </option>
              </datalist>
            </div>

            <div class="form-group">
              <label for="equipment">Equipment</label>
              <input id="equipment" name="Equipment" v-model="issueUpdate.equipment" class="form-control"
                list="equipment-lst" type="text" required />
              <datalist id="equipment-lst">
                <option v-for="equipment in equipmentTypes">
                  {{ equipment }}
                </option>
              </datalist>
            </div>

            <div class="form-group">
              <label for="issue-type">Issue Type</label>
              <select id="issue-type" name="IssueType" v-model="issueUpdate.issueType" class="form-control" required>
                <option style="display:none"></option>
                <option v-for="type in issueTypes">
                  {{ type }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <select id="status" name="Status" v-model="issueUpdate.status" class="form-control" required>
                <option style="display:none"></option>
                <option v-for="type in statusTypes">
                  {{ type }}
                </option>
              </select>
            </div>

            <!-- <div class="form-group">
              <label for="raised-by">Raised By</label>
              <input id="raised-by" name="RaisedBy" v-model="issue.raisedBy" class="form-control" type="text"
                required />
            </div> -->

            <br />

            <div class="form-group">
              <button type="button" class="btn btn-secondary" v-on:click="cancelEditing()">Cancel</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>

          </form>



        </div>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11" crossorigin="anonymous"></script> -->
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/moment" crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://kit.fontawesome.com/e2b4ceabac.js"
    crossorigin="anonymous"></script>
  <script type="application/javascript" src="../assets/js/issue.js"></script>
</body>

</html>