<!DOCTYPE html>
<html>

<head>
  <title>You&#39;ve Got Issues</title>
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11" crossorigin="anonymous"></script>
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/moment" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/e2b4ceabac.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">You&#39;ve Got Issues</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
      </ul>
    </div>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li id="current-page" class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>

  <div id="issues-list" class="container-fluid  col-sm-8" >
    <p></p>
    <div class="card">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-issue-modal">+ Add New Issue</button>
    </div>

    <p></p>

    <table class="table table-hover table-sm">
      <thead>
        <tr>
            <th scope="col" class="" style="width: 30px;">#</th>
            <th scope="col" class="" style="width: 130px;">Area</th>
            <th scope="col" class="d-none d-md-table-cell" style="width: 130px;">Equipment</th>
            <th scope="col" class="d-none d-md-table-cell" style="width: 130px;">Issue Type</th>
            <th scope="col" >Issue</th>
            <!-- <th scope="col" class="d-none d-xl-table-cell" style="width: 200px;" ></th> -->
            <th scope="col" class="d-none d-md-table-cell" style="width: 200px;" ></th>
        </tr>
    </thead>
      <tbody>
        <tr v-for="issue in issues" :key="issue.ItemNo" >
          <td scope="row" class=""><a v-bind:href="path + '/' + issue.itemNo">{{ issue.itemNo }}</a></td>
          <td scope="row" class="">{{ issue.area }}</td>
          <td scope="row" class="d-none d-md-table-cell">{{ issue.equipment }}</td>
          <td scope="row" class="d-none d-md-table-cell">{{ issue.issueType }}</td>
          <td scope="row" class="">{{ issue.issue }}</td>
          <!-- <td class="d-none d-md-block d-lg-block d-xl-table-cell" >Raised By: {{ issue.raisedBy }}</td> -->
          <td class="d-none d-md-block" >Raised By: {{ issue.raisedBy }}</td>
          <td class="d-none d-md-block" >Raised: {{ issue.raised | formatDate }}</td>
          <td class="d-none d-md-block" >Last Changed: {{ issue.lastChanged | formatDate }}</td>
          <td class="d-none d-md-block" >Status: {{ issue.status }}</td>
          <td class="d-none d-md-block" >
              <i class="far fa-comments"></i>
              <i class="fas fa-paperclip"></i>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="modal fade" id="new-issue-modal" tabindex="-1" aria-roledescription="dialog" aria-labelledby="New Issue"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <form role="form" method="post" @submit.prevent="submitIssue($data)">
            <div class="modal-header">
              <h5 class="modal-title" id="new-issue-modal-header">Add New Issue</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label for="area">Area</label>
                <input id="area" name="Area" v-model="newIssue.Area" class="form-control" list="area-lst" type="text" required>
                <datalist id="area-lst">
                  <option v-for="area in areaList">
                    {{ area }}
                  </option>
                </datalist>
              </div>

              <div class="form-group">
                <label for="equipment">Equipment</label>
                <input id="equipment" name="Equipment" v-model="newIssue.Equipment" class="form-control" list="equipment-lst" type="text" required />
                <datalist id="equipment-lst">
                  <option v-for="equipment in equipmentTypes">
                    {{ equipment }}
                  </option>
                </datalist>
              </div>

              <div class="form-group">
                <label for="issue-type">Issue Type</label>
                <select id="issue-type" name="IssueType" v-model="newIssue.IssueType" class="form-control" required>
                  <option style="display:none"></option>
                  <option v-for="type in issueTypes">
                    {{ type }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="issue">Issue</label>
                <textarea id="issue" name="Issue" v-model="newIssue.Issue" class="form-control" rows="5" maxlength="500" required></textarea>
              </div>

              <div class="form-group">
                <label for="raised-by">Raised By</label>
                <input id="raised-by" name="RaisedBy" v-model="newIssue.RaisedBy" class="form-control" type="text" required />
              </div>
            </div>

            <div class="form-group">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<script type="application/javascript">

  Vue.config.devtools = true;

  $('#current-page').text(window.location.pathname.substring(1)),

  Vue.filter('formatDate', function (value) {
    if (value) {
      return moment(String(value)).format('DD/MM/YYYY')
    }
  });

  new Vue({
    el: '#issues-list',
    data() {
      return {
        model:          null,
        issues:         null,
        issueTypes:     null,
        equipmentTypes: null,
        areaList:       null,
        path:           window.location.pathname,
        newIssue: {
          Area:      null,
          Equipment: null,
          IssueType: null,
          Issue:     null,
          RaisedBy:  null
        }
      }
    },
    methods: {
      loadIssues: function () {
        axios
          .get('/api' + this.path)
          .then(response => (
            this.model = response.data,
            this.issues = response.data.issues,
            this.issueTypes = response.data.issueTypes,
            this.equipmentTypes = response.data.equipmentTypes,
            this.areaList = response.data.areaList
          ))
      },
      submitIssue: function () {
        axios
          .post('/api' + this.path + '/issues', this.newIssue)
          .then(res => 
            this.loadIssues(),
            $('#new-issue-modal').modal('hide'),
            this.newIssue = {
                Area:      null,
                Equipment: null,
                IssueType: null,
                Issue:     null,
                RaisedBy:  null
              }
            )
          .catch(function (error) {
            console.log(error)
          })
      }
    },
    mounted() {
      this.loadIssues()
    }
  })


</script>